flask
flask-cors
flask-pymongo
flask-jwt-extended
python-dotenv
TA-Lib
selenium
beautifulsoup4
pymongo
yfinance
pandas
numpy
alpha-vantage
mplfinance
matplotlib
webdriver-manager
celery
redis
requests
pytz
